{{ define "cat" }}
<tr key="{{ .ID }}">
  <td>{{ .Name }}</td>
  <td>{{ .Breed }}</td>
  <td>{{ .ID }}</td>
  <td>
    <button class="btn btn-primary" hx-get="/cats/edit/{{ .ID }}" hx-target="#replaceMe" hx-swap="innerHTML">Open Dialog</button>
    <button class="btn btn-danger" hx-confirm="Confirm delete cat {{ .ID}}?" hx-target="closest tr" hx-delete="/cat/{{ .ID }}">Delete</button>
  </td>
</tr>
{{ end }}

{{ define "cats" }}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{ range .Cats }}
    <!-- to implement delete, have tr use a key on the attribute such as id? and have -->
    <!-- cats.html also use the same key, it would be better to have it defined in one place -->
    <!-- rather than on two files... -->
    <!-- maybe tbody should call GET /cats or something. -->
    <!-- and then, GET /cats and POST /cat can use the same cats.html template -->
    {{ template "cat" . }}
    {{ end }}
    <tr id="addcats"></tr>
  </tbody>
</table>
{{ end }}
